.side-box {
    float: left;
padding-right: 25px;

}

.block_element {
 
}

.side-box {
    background-color: lightblue;
    margin-left: auto;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    width: 29%;
    height: 200px;
  }

  .right-side {

    background-color: rgb(214, 255, 179);
    margin-left: auto;
    margin: 0 auto;
    text-align: center;
  
    width: 70%;
    height: 200px;
  }
  }
  
.Nav {
 
}
.nav-block {
    padding: 20px;
    background-color: blueviolet;
    text-align: center; 
    display: inline-block;
    width: 3
    50px;
}

.Header {
    background-color: antiquewhite;
    width: 100%;
}

h1 {
    font-family: helvetica, arial, sans-serif;
   }
   
   .back {
     width: 750px;
     background-color: rgb(196, 196, 196);
   }
   .left {
     float: left;
     padding-right: 15px;
     background-color: brown;
     width: 29%;
   }
   .right {
     float: right;
     padding-left: 15px;
     background-color: rgb(42, 165, 44);
     width: 70%;
   }